body {
  margin: 0;
  background-color: white;
}

.navbar {
  display: flex;
  background-color: #03fcbe;
  color: white;
  position: sticky;
  justify-content: space-between;
}

.navbar div div {
  padding: 12px 14px;

  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  cursor: pointer;
}
.navbar .item a {
  display: block;
  color: white;
}

.navbar div div:hover {
  background-color: black;
}
.profil {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
}
.profil img {
  max-width: 50%;
  padding-left: 150px;
}
.profil h1 {
  margin: 0;
  padding-left: 20px;
  color: #03fcbe;
  text-align: center;
}
.profil h2 {
  margin: 0;
  padding: 5px;
  color: #03fcbe;
  text-align: center;
}

.profil p {
  text-align: center;
}
